*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #333;
}

h1 {
  text-align: center;
  padding: 25px 0;
  color: #f1f1f1;
}

.recherche-poke {
  max-width: 700px;
  width: 70%;
  min-width: 450px;
  margin: 30px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*   ANIMATION INPUT   */
}

.recherche-poke input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 18px;
}

.recherche-poke label {
  position: absolute;
  color: #333;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 8px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.recherche-poke button {
  margin-left: 5px;
  padding: 15px;
}

.recherche-poke:focus-within label, .recherche-poke.active-input label {
  top: -15px;
  padding-left: 8px;
  color: #f1f1f1;
}

.recherche-poke .loader {
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recherche-poke .loader .point {
  margin: 0px 5px;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #f1f1f1;
  -webkit-animation: monte 0.3s alternate infinite;
          animation: monte 0.3s alternate infinite;
}

.recherche-poke .loader .point:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.recherche-poke .loader .point:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.recherche-poke .loader .point:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes monte {
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes monte {
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.inp-group {
  width: 100%;
}

.container {
  width: 70%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
}

.container .liste-poke {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .liste-poke li {
  width: 250px;
  height: auto;
  padding: 15px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .liste-poke h5 {
  font-size: 19px;
}

.container .liste-poke p {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */